{% extends "dashboard/base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
{% load static %}

{% block sidenav %}
  <a href="/teams">
    <i class="fa fa-fw fa-users"></i>
      <not_visible> Teams </not_visible>
  </a>
  <a href="/clusters">
    <i class="fa fa-fw fa-sitemap"></i>
      <not_visible> Clusters </not_visible>
  </a>
{% endblock %}

{% block first_left_block_content %}
  <div class="left_row_content">
    <a href="/" class="navbar-item">Home</a>
    <p class="title">{% block main_title %}{% endblock main_title %}</p>
    <p class="subtitle">{% block sub_title %}{% endblock sub_title %}</p>
  </div>
{% endblock first_left_block_content %}

{% block first_right_block_content %}
  <div class="right_row_content">
    {% block comments_feed %} {% endblock comments_feed %}
  </div>
{% endblock first_right_block_content %}




