{% extends 'comments_feed/base.html' %}
{% load humanize %}

{% block main_title %}Reported Posts{% endblock %}
{% block sub_title %}{% endblock %}

{% block second_left_block_content %} 
    <div class="left_row_content">
        <table>
            <thead>  
                <tr>
                <th>Commenter</th>
                <th>Commented</th>
                <th>At </th>
                <th>Times reported</th>
                <th>Hidden</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
        {% for post in reports %}
            <tr> 
                <td>{{ post.user.first_name }} {{ post.user.last_name }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.date_posted|naturaltime }}</td>
                <td>{{ post.times_reported }}</td>
                <td>{{ post.hidden|yesno }}</td>
                <td>
                    <a href="{% url 'hide_post' post.id %}">Hide Post</a>
                </td>
                <td>
                    <a href="{% url 'block_user' post.user.id %}">Block User</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock second_left_block_content %}


