{% extends "dashboard/base.html" %}
{% load static %}

{% block sidenav %}
  <a href="/teams">
    <i class="fa fa-fw fa-users"></i>
      <not_visible> Teams </not_visible>
  </a>
  <a href="/clusters">
    <i class="fa fa-fw fa-sitemap"></i>
      <not_visible> Clusters </not_visible>
  </a>
{% endblock sidenav %}

{% block first_left_block_content %}
  <div class="left_row_content">
    <h1>Persoonlijke meters</h1>
  </div>
  <div class="left_row_content">  
  </div>
{% endblock first_left_block_content %}

{% block first_right_block_content %}
{% endblock first_right_block_content %}

{% block second_left_block_content %}
{% endblock second_left_block_content %}

{% block second_right_block_content %}
{% endblock second_right_block_content %}
